<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Título de la página -->
    <title>Salta Bloques</title> 
     <!-- Estilos--> 
    <link rel="stylesheet" href="../static/css/style.css">   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <center>
  <body onload="startGame()"> <!-- Carga de la página -->  
  </center>

    <script src="../static/js/javascript.js"></script> <!-- Carga el JS -->
  </body> <!-- Cierre del cuerpo -->
</html> <!-- Cierre del documento -->